* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Utility*/
  --hover-textopacity: opacity(60%);
  /*Colors*/
  --bg-color: #fff;
  --text-color: #333;
  --navbar-color: #7a7373;
  --headersection-color: #2f4f4f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #fff;
    --navbar-color: #7a7373;
  }
}

@media screen and (min-width: 1080px) {
  /*Main Elements*/

  :root {
    /*Utility*/
    --universal-width: 80%;
    --medium-font-size: 1.5rem;

    /*Nav*/

    --navbar-height: 100px;
    --navbar--left-gap: 96px;
    --navbarpaddingleft: 100px;
    --navbarpaddingright: 100px;

    /*Section header*/
    --sectionheader-height: 800px;
    --sectionheader-padding: 100px;
    --sectionheaderborder-size: 20px;
    --sectionheaderborder-radius: 30px;
    --sectionheaderminiP-font-size: 1.2rem;
    --sectionheaderh1-font-size: 2rem;
    --sectionheadermidP-width: 43%;
    --sectionheader-row-gap: 50px;

    /*Main Section Support*/
    --sectionsupport-row-gap: 10px;
    --sectionsupport-height: 1000px;
    --sectionsupport-padding: 5px;
    --sectionsupport-button-width: 100px;
  }

  html {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .Body {
    display: contents;
  }

  /*Header||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

  .Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*Nav*/

  .Nav {
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    width: var(--universal-width);
    padding-left: var(--navbarpaddingleft);
    padding-right: var(--navbarpaddingright);
  }

  /*Utility*/
  .navbar__container {
    list-style-type: none;
    display: flex;
    font-size: var(--medium-font-size);
  }

  .navbar__item {
    display: flex;
  }
  /*Single Selectors*/
  .navbar--left {
    gap: var(--navbar--left-gap);
  }

  .navbar--right {
    display: flex;
  }

  .navbar--item_1 {
    display: flex;
  }
  .navbar--item_2 {
    display: flex;
  }
  .navbar--item_3 {
    display: flex;
  }
  .navbar--item_4 {
    display: flex;
  }
  .navbar--item_5 {
    display: flex;
  }
  .navbar--itemA_1 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_1:hover {
    filter: var(--hover-textopacity);
  }
  .navbar--itemA_2 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_2:hover {
    filter: var(--hover-textopacity);
  }
  .navbar--itemA_3 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_3:hover {
    filter: var(--hover-textopacity);
  }
  .navbar--itemA_4 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_4:hover {
    filter: var(--hover-textopacity);
  }
  .navbar--itemA_5 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_5:hover {
    filter: var(--hover-textopacity);
  }

  /*Header Section*/
  .Headersection {
    width: var(--universal-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--headersection-color);
    height: var(--sectionheader-height);
    padding: var(--sectionheader-padding);
    row-gap: var(--sectionheader-row-gap);
  }
  .Headersection--topP {
    font-size: var(--medium-font-size);
  }
  .Headersection--h1 {
    font-size: var(--sectionheaderh1-font-size);
  }

  .Headersection--midP {
    font-size: var(--medium-font-size);
    width: var(--sectionheadermidP-width);
  }

  .Headersection--anchor {
    color: var(--text-color);
    font-size: var(--sectionheaderminiP-font-size);
    text-decoration: none;
    border: var(--sectionheaderborder-size) solid var(--navbar-color);
    background-color: var(--navbar-color);
    border-radius: var(--sectionheaderborder-radius);
    font-weight: bolder;
  }
  .Headersection--botP {
    font-size: var(--sectionheaderminiP-font-size);
  }

  /*Main|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

  /*MainsectionSupport*/
  .Main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .MainsectionSupport {
    width: var(--universal-width);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--sectionheader-row-gap);
    height: var(--sectionsupport-height);
    padding: var(--sectionheader-padding);
    background-color: var(--navbar-color);
  }
  .MainsectionSupporth2 {
    display: flex;
    justify-content: center;
    font-size: var(--sectionheaderh1-font-size);
  }
  .MainsectionSupportPtop {
    font-size: var(--medium-font-size);
  }
  .MainsectionSupportPmid {
    font-size: var(--medium-font-size);
  }
  .MainsectionSupportPmid2 {
    font-size: var(--medium-font-size);
  }
  .MainsectionSupportPbot {
    font-size: var(--medium-font-size);
  }
  .MainsectionSupport_Form {
    visibility: hidden;
  }
  .MainsectionSupport_Fieldset {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--sectionsupport-row-gap);
  }
  .MainsectionSupport_Fieldset > * {
    font-size: var(--medium-font-size);
    visibility: visible;
    padding: var(--sectionsupport-padding);
  }
  .MainsectionSupport-label_name {
    display: flex;
  }
  .MainsectionSupport-input_name {
    display: flex;
    width: var(--universal-width);
  }
  .MainsectionSupport-label_phone {
    display: flex;
  }
  .MainsectionSupport-input_phone {
    display: flex;
    width: var(--universal-width);
  }
  .MainsectionSupport-label_email {
    display: flex;
  }
  .MainsectionSupport-input_email {
    display: flex;
    width: var(--universal-width);
  }
  .MainsectionSupport-label_subject {
    display: flex;
  }
  .MainsectionSupport-input_subject {
    display: flex;
    width: var(--universal-width);
  }
  .MainsectionSupport-label_help {
    display: flex;
  }
  .MainsectionSupport-textarea_help {
    display: flex;
    width: var(--universal-width);
  }
  .MainsectionSupport-label_submit {
    display: flex;
  }
  .MainsectionSupport-button_submit {
    display: flex;
    justify-content: center;
    width: var(--sectionsupport-button-width);
    border-radius: var(--sectionsupport-padding);
  }
}
