* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Utility*/
  --hover-textopacity: opacity(60%);
  /*Colors*/
  --bg-color: #fff;
  --text-color: #333;
  --navbar-color: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #fff;
    --navbar-color: blue;
  }
}

@media screen and (min-width: 1080px) {
  /*Main Elements*/

  :root {
    /*Nav*/
    --navbar-width: 80%;
    --navbar-height: 100px;
    --navbar--left-gap: 96px;
    --navbar__container-font-size: 1.5rem;
    --navbarpaddingleft: 100px;
    --navbarpaddingright: 100px;
  }

  html {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .Body {
    display: contents;
  }

  /*Header||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

  .Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*Nav*/

  .Nav {
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    width: var(--navbar-width);
    padding-left: var(--navbarpaddingleft);
    padding-right: var(--navbarpaddingright);
  }

  /*Utility*/
  .navbar__container {
    list-style-type: none;
    display: flex;
    font-size: var(--navbar__container-font-size);
  }

  .navbar__item {
    display: flex;
  }
  /*Single Selectors*/
  .navbar--left {
    gap: var(--navbar--left-gap);
  }

  .navbar--right {
    display: flex;
  }

  .navbar--item_1 {
    display: flex;
  }
  .navbar--item_2 {
    display: flex;
  }
  .navbar--item_3 {
    display: flex;
  }
  .navbar--item_4 {
    display: flex;
  }
  .navbar--item_5 {
    display: flex;
  }
  .navbar--itemA_1 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_1:hover {
    filter: var(--hover-textopacity);
  }
  .navbar--itemA_2 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_2:hover {
    filter: var(--hover-textopacity);
  }
  .navbar--itemA_3 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_3:hover {
    filter: var(--hover-textopacity);
  }
  .navbar--itemA_4 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_4:hover {
    filter: var(--hover-textopacity);
  }
  .navbar--itemA_5 {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar--itemA_5:hover {
    filter: var(--hover-textopacity);
  }
}
